/*Discover sidebar*/


.sidebar-2K8pFh {
  background: var(--backgroundDarker);
}


/*Create New Server*/

.header-3msK0M {
  overflow: hidden;
}

.subtitle-Nw1LLR, .title-3w8xhj {
  color: #a5b7d2;
}

.container-UC8Ug1 {
  background-color: #11324f;
}